.vscode

.*
!.gitignore
bench
local
go
backup

webapp/*
!webapp/go
!webapp/sql
!webapp/payment_mock
!webapp/openapi.yaml
webapp/sql/3-initial-data.sql.gz

env.sh
!s1/home/isucon/env.sh
!s2/home/isucon/env.sh
!s3/home/isucon/env.sh

logs
